- if current_user
  = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  = link_to "Sign in", new_user_session_path
  = link_to "Sign in with Github", user_omniauth_authorize_path(:github, origin: request.original_url)
  = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter, origin: request.original_url)

= link_to "New goal", new_goal_path
= link_to "All goals", goals_path

