= simple_form_for @goal do |f|
  - if current_user.admin?
    = f.association :category, include_blank: false
  = f.input :title, input_html: { size: 50 }
  = f.input :description, input_html: { rows: 7, cols: 37 }

  -# At least one motivation needed
  = f.simple_fields_for :motivations, @goal.motivations.build do |m|
    %p ----------------------------------------------------
    = m.input :title, required: true, label: 'Motivation title', input_html: { size: 50 }
    = m.input :description, required: true, label: 'Motivation description', |
    input_html: { rows: 7, cols: 37 }
    = m.input :source, required: true, label: 'Motivation source', input_html: { size: 50 }
    %p ----------------------------------------------------

  = f.simple_fields_for :motivations do |m|
    %p ----------------------------------------------------
    = m.input :title, required: false, label: 'Motivation title', input_html: { size: 50 }
    = m.input :description, required: false, label: 'Motivation description', |
    input_html: { rows: 7, cols: 37 }
    = m.input :source, required: false, label: 'Motivation source', input_html: { size: 50 }
    %p ----------------------------------------------------

  = f.input :shared, label: 'Check to share in <Shared> category'

  = f.button :submit

