= simple_form_for @goal do |f|
  = f.association :category, include_blank: false
  = f.input :title
  = f.input :description

  = f.simple_fields_for :motivations do |m|
    %p ----------------------------------------------------
    = m.input :title, label: 'Motivation title'
    = m.input :description, label: 'Motivation description'
    = m.input :source, label: 'Motivation source'
    %p ----------------------------------------------------

  = f.button :submit

