= simple_form_for @goal do |f|
  - if current_user.admin?
    = f.association :category, include_blank: false
  = f.input :title, input_html: { size: 50 }
  = f.input :description, input_html: { rows: 7, cols: 37 }

  -# At least one motivation needed

  = f.simple_fields_for :motivations, @goal.motivations.build do |m|
    = m.input :title, required: true, label: 'Motivation title', input_html: { size: 50 }
    = m.input :description, required: true, label: 'Motivation description', |
    input_html: { rows: 7, cols: 37 }
    = m.input :source, required: true, label: 'Motivation source', input_html: { size: 50 }

  = link_to "Add more motivations", '#', id: 'show-other-motivations'
  #other-motivations{style: 'display: none;'}
    = f.simple_fields_for :motivations do |m|
      = m.input :title, required: false, label: 'Motivation title', input_html: { size: 50 }
      = m.input :description, required: false, label: 'Motivation description', |
      input_html: { rows: 7, cols: 37 }
      = m.input :source, required: false, label: 'Motivation source', input_html: { size: 50 }
      %p ----------------------------------------------------
  = f.input :shared, label: 'Check to share in <Shared> category'
  = f.button :submit

:javascript
  $(function() {
    $('#show-other-motivations').click(function () {
      $("#other-motivations").toggle();
      $('#show-other-motivations').toggle();
    })
  })



