= page_title("Planamp - #{@goal.title}")

%h1 GoalsController#show

= render partial: 'shared/share_buttons'

%p
  %b Title:
  #{@goal.title}
%p
  %b Created by:
  #{@goal.user_name}

%br

%h3 Motivations
- @goal.motivations.each do |motivation|
  %p <b>Title:</b> #{motivation.title}
  %p <b>Description:</b> #{motivation.description}
  %p <b>Source:</b> #{motivation.source}
  %p ----------------------------------------------------
  %br
