= page_title("Planamp - #{@goal.title}")

%h2.b-categories__title #{@goal.title} #{link_to @goal.category_name, @goal.category, class: 'b-categories__title-link'}

%p.goal-description= @goal.description


= link_to 'Motivations (should be as dialog)', '#', class: 'motivations-dialog-link'
.motivations{style: 'display:none'}
  = render partial: 'motivation', collection: @goal.motivations

%div.b-categories__creator Created by #{link_to @goal.user_name, '#'}
%div.b-categories__social
  = render partial: 'shared/share_buttons'
%div.b-categories__add-own-list
  - if current_user && current_user.goal_list.is_pending?(@goal)
    Goal already in #{link_to "your goal list", user_goals_url}
  - else
    = link_to 'Add to own list', add_to_goal_list_path(@goal), method: :put


= render partial: 'shared/disqus'