= body_class(@category_with_goals.name.downcase)

%div{style: "text-align: center;"}
  %h2.current-category= link_to @category_with_goals.name, '#'
  %div{style: "text-align: left;"}
    %h3.all-categories= link_to "All categories", categories_path


%ul.goals
  - @category_with_goals.available_goals.each do |goal|
    .goals
      = link_to goal.title, goal, class: 'goal-link'
      .goal-description= goal.description
