%div.b-categories
  %h2.b-categories__title Your goal list <span class="b-categories__title-link">Pending count: <b>#{@goals_in_list['pending'].count}</b></span>
  .b-categories__goals
    -#= link_to "View new goals", categories_path
    - if @goals_in_list['pending']
      - @goals_in_list['pending'].each do |goal_in_list|
        %div.b-categories__goals-item.b-categories__goals-item_your
          = link_to goal_in_list.title, goal_in_list.goal, class: 'b-categories__goals-item-title'
          = link_to "Motivate me!", '#', class: 'b-categories__goals-item-btn b-categories__goals-item-btn_info';
          = link_to "Fail", fail_goal_path(goal_in_list), method: :put, class: 'b-categories__goals-item-btn b-categories__goals-item-btn_fail';
          = link_to "Done", done_goal_path(goal_in_list), method: :put, class: 'b-categories__goals-item-btn b-categories__goals-item-btn_done';

    - if @goals_in_list['done']
      .done-goals
        %p Done count: #{@goals_in_list['done'].count}
        - @goals_in_list['done'].each do |goal_in_list|
          %p
            = link_to goal_in_list.title, goal_in_list.goal

    - if @goals_in_list['failed']
      .failed-goals
        %p Failed count: #{@goals_in_list['failed'].count}
        - @goals_in_list['failed'].each do |goal_in_list|
          %p
            = link_to goal_in_list.title, goal_in_list.goal

  %h2.b-categories__title Created by you <span class="b-categories__title-link">Total count:  <b>#{@goals.count}</b></span>
  %div.b-categories__goals
    - @goals.each do |goal|
      %div.b-categories__goals-item
        = link_to goal.title, goal, class: 'b-categories__goals-item-title'
        - if goal.shared?
          %div.b-categories__goals-item-desc Shared for everyone!
        - else
          = link_to 'Share for everyone!', share_goal_path(goal), method: :put, confirm: true
