%div.b-categories
  %h2.b-categories__title Your goal list
  - if @empty_goals_in_list
    = link_to "View goals", categories_path

  - if @goals_in_list['pending']
    %div.b-categories__goals-counter.b-categories__goals-counter_first Pending count: <span class="b-categories__goals-counter-pen">#{@goals_in_list['pending'].count}</span>

  - if @goals_in_list['pending']
    .b-categories__goals
      - @goals_in_list['pending'].each do |goal_in_list|
        %div.b-categories__goals-item.b-categories__goals-item_your
          = link_to goal_in_list.title, goal_in_list.goal, class: 'b-categories__goals-item-title'
          = link_to "Motivate me!", '#', class: 'b-categories__goals-item-btn b-categories__goals-item-btn_info', |
          data: {id: goal_in_list.goal.id};
          = link_to "Fail", fail_goal_path(goal_in_list), method: :put, class: 'b-categories__goals-item-btn b-categories__goals-item-btn_fail';
          = link_to "Done", done_goal_path(goal_in_list), method: :put, class: 'b-categories__goals-item-btn b-categories__goals-item-btn_done';

  - if @goals_in_list['done']
    %div.b-categories__goals-counter Done count: <span class="b-categories__goals-counter-done">#{@goals_in_list['done'].count}</span>
    .b-categories__goals.b-categories__goals-done
      - @goals_in_list['done'].each do |goal_in_list|
        %div.b-categories__goals-item.b-categories__goals-item_your
          = link_to goal_in_list.title, goal_in_list.goal, class: 'b-categories__goals-item-title'

  - if @goals_in_list['failed']
    %div.b-categories__goals-counter Failed count: <span class="b-categories__goals-counter-fail">#{@goals_in_list['failed'].count}</span>
    .b-categories__goals.b-categories__goals-fail
      - @goals_in_list['failed'].each do |goal_in_list|
        %div.b-categories__goals-item.b-categories__goals-item_your
          = link_to goal_in_list.title, goal_in_list.goal, class: 'b-categories__goals-item-title'

  %h2.b-categories__title Created by you
  %div.b-categories__goals-counter.b-categories__goals-counter_first Total count:  <span class="b-categories__goals-counter-pen">#{@goals.count}</span>
  - if @goals.empty?
    = link_to "Make your own goal", new_goal_path
  %div.b-categories__goals
    - @goals.each do |goal|
      %div.b-categories__goals-item
        = link_to goal.title, goal, class: 'b-categories__goals-item-title'
        - if goal.shared?
          %div.b-categories__goals-item-desc Shared for everyone!
        - else
          = link_to 'Share for everyone!', share_goal_path(goal), method: :put, confirm: true

  .popup-motivation{style: 'display:none'}
    %a{class: "b-close"}X

:javascript
  $(function() {
    $('.b-categories__goals-item-btn.b-categories__goals-item-btn_info').click(function () {
      var goalId = $(this).data()['id'];
      var url = '/goals/' + goalId + '/random_motivation'
      $.ajax({
        dataType: "json",
        url: url,
        async: false,
        success: function(result){
          var motivationHtml = "<a class='b-close'>x<a/>";
          motivationHtml += "<strong>" + result.title + "</strong>";
          motivationHtml += "<p>" + result.description + "</p>";
          motivationHtml += "<strong>Source: </strong>" + result.source;
          $('.popup-motivation').html(motivationHtml);
          $('.popup-motivation').bPopup();
       }
      });
    })
  })
