!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Planamp - Motivations for Your Goals"
    = stylesheet_link_tag    '/css/styles', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    :javascript
      var switchTo5x=true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "d9e3b58a-eb41-43f1-b570-aef8ebe91ac5", doNotHash: false, doNotCopy: false, hashAddressBar: true});

  %body{class: "#{content_for?(:body_class) ? content_for(:body_class) : ''}"}
    %div.b-header
      %div.b-wrapper.clearfix
        %div.b-header__name
          %h1.main-title= link_to "Planamp - Goal Motivation App"
    %div.b-content
      %div.b-wrapper.clearfix


        .menu= render partial: 'shared/menu'

        = render partial: 'shared/messages'

        = yield

