!!!
%html
  %head
    %title Planamp - Motivations for Your Goals
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: 'shared/messages'

    = yield